.elementor-9153 .elementor-element.elementor-element-2bc838e img {width: 10%;}
.elementor-9153 .elementor-element.elementor-element-f8e1f27 {--spacer-size: 50px;}
.elementor-9153 .elementor-element.elementor-element-2921ba9 {--spacer-size: 50px;}